<mat-toolbar color="primary" mat-dialog-title fxLayoutAlign="center center">
  <div fxFlex="100">{{ data.header }}</div>
</mat-toolbar>

<mat-dialog-content fxLayout="column" fxLayoutAlign="center center">
  <div class="margin-bottom" fxFlex="100">{{ data.content }}</div>

  <div fxFlex="100">
    <div fxLayout="row" fxLayoutAlign="center stretch">
      <button mat-raised-button color="primary" class="layout-padding" [mat-dialog-close]="true">{{ data.successButton }}</button>
    </div>
  </div>
</mat-dialog-content>
