<div fxLayout="row wrap">
    <div fxFlex="100" class="row justify-content-center">
        <div class="col-md-8">
            <h2 *ngIf="settingsAccount">User details for <b>{{settingsAccount.login}}</b></h2>

            <div class="alert alert-success" *ngIf="success">
                <strong>Personal info saved! Resign to apply changes. </strong>
            </div>

            <jhi-alert-error></jhi-alert-error>
            <jhi-form-personal-info [personState]="person"></jhi-form-personal-info>
            </br>
            <jhi-form-address *ngIf="countriesDictionary$ | async as countryList" [address]="address" [fullCountryList]=" countryList"></jhi-form-address>
        </div>
    </div>
    <button fxFlex="100" mat-raised-button class="full-width"
            (click)="save()"
            [disabled]="!formPersonalInfoComponent.isFormValid()
            || (!formAddressComponent || !formAddressComponent.isFormValid())">
        Save
    </button>
</div>
