<div fxFlex=100 fxLayout='row' fxLayout.xs='column' fxLayout.sm='column' class="dg-margin dg-padding mat-elevation-z3"
     fxLayoutAlign="space-between none">
    <div fxFlex=10 fxFlex.xs=100 fxLayout="column" fxLayoutAlign="space-between none">
        <div>
            From Airport
        </div>
        <div>
                <span>
                    <i class="material-icons">flight_takeoff</i>
                    <span>{{toCityName(flight.fromCity)}}</span>
                </span>
        </div>
    </div>
    <div fxFlex=5 fxLayout="row" fxLayoutAlign="center center">
        <span><i class="material-icons">arrow_right_alt</i></span>
    </div>

    <div fxFlex=10 fxFlex.xs=100 fxLayout="column" fxLayoutAlign="space-between none">
        <div>
            To Airport
        </div>
        <div>
                <span>
                    <i class="material-icons">flight_land</i>
                    <span>{{toCityName(flight.toCity)}}</span>
                </span>
        </div>
    </div>

    <div fxFlex=15 fxFlex.xs=100 fxLayout="column" fxLayoutAlign="space-between none">
        <div>
            Price
        </div>
        <div>
            <p>{{flight.price}}$</p>
        </div>
    </div>

    <div fxFlex=20 fxFlex.xs=100 fxLayout="column" fxLayoutAlign="space-between none">
        <div>
            Date
        </div>
        <div>
            <p>{{flight.date | date:'y-MM-dd HH:mm'}}</p>
        </div>
    </div>

    <div fxFlex=5 fxFlex.xs=100 fxLayout.xs="row" fxLayoutAlign="end none">
        <button mat-button [matMenuTriggerFor]="flightActionMenu" matTooltip="Akcje" matTooltipPosition="above">
            <i color="primary" class="material-icons">list</i>
        </button>

        <mat-menu class="offer-item" #flightActionMenu="matMenu">
            <div>
                <button
                    mat-menu-item
                    (click)="openTickets(flight.id)"
                >
                    <span class="icon-container">
                        <i class="material-icons">assignment</i>
                        <span>Book tickets</span>
                    </span>
                </button>
            </div>
        </mat-menu>
    </div>
</div>
