<form [formGroup]="formGroup">
  <div fxLayout="row wrap" fxLayoutGap="1%">
    <div fxFlex="100" class="dg-padding grey-label">Sex</div>

    <div fxFlex="100" fxLayout="row" class="dg-margin-bottom">
      <div fxFlex="50"
           *ngFor="let entry of availableSex">
        <button fxFlex mat-raised-button class="full-width"
                [color]="entry.id === sex.value ? 'primary' : undefined"
                [ngClass]="{ 'error-validation': !!formErrors.sex }"
                (click)="setSex(entry.id)"
                [disabled]="entry.id !== sex.value && sex.disabled">
          {{entry.name}}
        </button>
      </div>
    </div>

    <mat-form-field fxFlex.xs="100"
                    fxFlex.sm="50"
                    fxFlex="25"
                    >
     <input matInput
             [formControl]="firstName" name="firstName" placeholder="First name" maxlength="100">
      <mat-error *ngIf="formErrors.firstName">{{ formErrors.firstName }}</mat-error>
    </mat-form-field>

    <mat-form-field fxFlex.xs="100"
                    fxFlex.sm="50"
                    fxFlex="25">
      <input matInput
             [formControl]="middleName" name="middleName" placeholder="Second name" maxlength="100">
      <mat-error *ngIf="formErrors.middleName">{{ formErrors.middleName }}</mat-error>
    </mat-form-field>

    <mat-form-field fxFlex.xs="100"
                    fxFlex.sm="50"
                    fxFlex="25">
        <input matInput
             [formControl]="lastName"
             name="lastName" placeholder="Last name" maxlength="100">
      <mat-error *ngIf="formErrors.lastName">{{ formErrors.lastName }}</mat-error>
    </mat-form-field>

    <mat-form-field fxFlex.xs="100"
                    fxFlex.sm="50"
                    fxFlex="25">
      <input matInput
             [formControl]="pesel"
             name="pesel" placeholder="PESEL" maxlength="11">
      <mat-error *ngIf="formErrors.pesel">{{ formErrors.pesel }}</mat-error>
    </mat-form-field>

    <mat-form-field fxFlex.xs="100"
                    fxFlex.sm="50"
                    fxFlex="25">
        <input matInput
               [matDatepicker]="uiBirthDate"
               [formControl]="birthDate"
               [max]="maxDate"
               name="birthDate" placeholder="Birth date" maxlength="10"

               (keydown)="onDateInput($event, uiBirthDate)"
               (click)="uiBirthDate.open()"
        >

        <mat-datepicker-toggle matSuffix [for]="uiBirthDate"></mat-datepicker-toggle>

      <mat-datepicker #uiBirthDate
                      (opened)="clearDateInput()"
      ></mat-datepicker>

      <mat-error *ngIf="formErrors.birthDate">{{ formErrors.birthDate }}</mat-error>
    </mat-form-field>

    </div>
  </div>
</form>
