<form [formGroup]="formGroup" novalidate>
  <div fxFlex="100" fxLayout="row wrap">
    <mat-form-field fxFlex.xs="100"
                    fxFlex.sm="50">
      <input matInput name="street" formControlName="street" placeholder="Street" maxlength="50">
      <mat-error *ngIf="formErrors.street">{{ formErrors.street }}</mat-error>
    </mat-form-field>

    <mat-form-field fxFlex.xs="100"
                    fxFlex.sm="50">
      <input matInput name="buildingNumber" formControlName="buildingNumber" placeholder="Building number" maxlength="10">
      <mat-error *ngIf="formErrors.buildingNumber">{{ formErrors.buildingNumber }}</mat-error>
    </mat-form-field>

    <mat-form-field fxFlex.xs="100"
                    fxFlex.sm="50">
      <input matInput name="flatNumber" formControlName="flatNumber" placeholder="Flat number" maxlength="10">
      <mat-error *ngIf="formErrors.flatNumber">{{ formErrors.flatNumber }}</mat-error>
    </mat-form-field>

    <mat-form-field fxFlex.xs="100"
                    fxFlex.sm="50">
      <input matInput name="city" formControlName="city" placeholder="City" maxlength="50">
      <mat-error *ngIf="formErrors.city">{{ formErrors.city }}</mat-error>
    </mat-form-field>

    <mat-form-field fxFlex.xs="100"
                    fxFlex.sm="50">
      <input matInput name="postalCode" formControlName="postalCode" placeholder="Postal code" maxlength="6" >
      <mat-error *ngIf="formErrors.postalCode">{{ formErrors.postalCode }}</mat-error>
    </mat-form-field>

    <div fxFlex="100" fxLayout="row">
      <mat-form-field fxFlex.xs="100"
                      fxFlex.sm="50">
        <input type="text" placeholder="Country" matInput formControlName="country" [matAutocomplete]="countryList">

        <mat-autocomplete #countryList="matAutocomplete" (optionSelected)="countrySelected($event)" [displayWith]="displayFn.bind(this)">
          <mat-option *ngFor="let item of filteredOptions | async" [value]="item">
              {{ item.name }}
          </mat-option>
        </mat-autocomplete>

        <mat-error *ngIf="formErrors.country">{{ formErrors.country }}</mat-error>
      </mat-form-field>
    </div>
  </div>
</form>
