<div fxLayout="row wrap" class="dg-padding dg-margin mat-elevation-z6 dg-bg-white" fxFlex="100">
        <form [formGroup]="group" fxLayout="row wrap" fxLayoutAlign="space-around center" fxLayoutGap="1%" fxFlex="100" #searchForm>

            <mat-form-field fxFlex.xs="100" fxFlex.sm="50" fxFlex.lt-md="25">
                <input type="text" placeholder="Departure from"
                       matInput
                       formControlName="fromPlaceControl"
                       [matAutocomplete]="fromCityList">

                <mat-autocomplete #fromCityList="matAutocomplete"
                                  [displayWith]="displayCityFn"
                >
                    <mat-option *ngFor="let item of fromFiltredCities | async" [value]="item">
                        {{ item.name }}
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>

            <mat-form-field fxFlex.xs="100" fxFlex.sm="50" fxFlex.lt-md="25">
                <input type="text" placeholder="Arrival in"
                       matInput
                       formControlName="toPlaceControl"
                       [matAutocomplete]="toCityList">

                <mat-autocomplete #toCityList="matAutocomplete"
                                  [displayWith]="displayCityFn"
                >


                    <mat-option *ngFor="let item of toFiltredCities | async" [value]="item">
                        {{ item.name }}
                    </mat-option>
                </mat-autocomplete>

            </mat-form-field>

            <mat-form-field fxFlex.xs="100" fxFlex.sm="50" fxFlex.lt-md="25">
                <input
                    matInput placeholder="Depart"
                    formControlName="fromDateControl"
                    [matDatepicker]="fromDate"
                    (keydown)="onDateInput($event, fromDate)"
                    (click)="fromDate.open()"
                    [min]="minDate"

                >
                <mat-datepicker-toggle matSuffix [for]="fromDate"></mat-datepicker-toggle>
                <mat-datepicker #fromDate disabled="false"></mat-datepicker>
            </mat-form-field>

            <mat-form-field fxFlex.xs="100" fxFlex.sm="50" fxFlex.lt-md="25">
                <input
                    matInput placeholder="Return"
                    formControlName="toDateControl"
                    [matDatepicker]="toDate"
                    (keydown)="onDateInput($event, toDate)"
                    (click)="toDate.open()"
                    [min]="minDate"
                >
                <mat-datepicker-toggle matSuffix [for]="toDate"></mat-datepicker-toggle>
                <mat-datepicker #toDate disabled="false"></mat-datepicker>
            </mat-form-field>

        </form>
        <div fxFlex="100" fxLayoutAlign="space-around center">
            <button mat-raised-button

                    class="primary-button dg-padding-left dg-margin-left"
                    disableRipple
                    color="primary"
                    (click)="btnClicked()">
                Search
            </button>
        </div>
</div>
