<form [formGroup]="formGroup" class="dg-padding dg-margin mat-elevation-z6 dg-bg-white">
    <div fxLayout="row" fxLayoutGap="0.5%">
        <div fxLayout="row" fxLayoutAlign=" center" fxFlex="3">
            <span>{{no + 1}}</span>
        </div>
        <div fxFlex=97 fxLayoutAlign="space-around center" fxLayout="row" fxLayoutGap="2%">
            <div fxFlex=40>
                <div fxFlex fxLayout="row" class="dg-margin-bottom">
                    <div fxFlex="50"
                         *ngFor="let entry of ticketClasses">
                        <button fxFlex mat-raised-button class="full-width"
                                [color]="entry.id === ticketClass.value ? 'primary' : undefined"
                                [ngClass]="{ 'error-validation': !!formErrors.ticketClass }"
                                (click)="setTicketClass(entry.id)"
                                [disabled]="entry.id !== ticketClass.value && ticketClass.disabled">
                            {{entry.name}}
                        </button>
                    </div>
                </div>
            </div>
            <div fxFlex=30>
                <div fxFlex="100" fxLayout="row" class="dg-margin-bottom">
                    <mat-form-field>
                        <mat-select placeholder="Ticket type" [formControl]="ticketType">
                            <mat-option *ngFor="let ticketType of ticketTypes" [value]="ticketType.id">
                                {{ticketType.name}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
            <mat-form-field fxFlex="30">
                <input matInput [formControl]="price"
                       name="price" placeholder="Price">
                <span matSuffix>$</span>
            </mat-form-field>

        </div>

    </div>
</form>
