.icon-container > * {
    display: inline-flex;
    vertical-align: middle;
}

mat-divider,
.mat-divider,
.dg-margin {
    margin-bottom: 16px !important;
    margin-top: 16px !important;
}

p {
    font-weight: bold;
}
