<div fxLayout="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="space-around none">
    <h1 fxFlex=100 align="center">Tickets</h1>
    <div fxFlex=100 class="dg-padding dg-margin mat-elevation-z6 dg-bg-white" fxLayout="column">
        <div class="icon-container" fxFlex=100>
        <span>
            {{ticket.flight.fromCity}}
            <i class="material-icons">arrow_right_alt</i>
        {{ticket.flight.toCity}}
            ({{ticket.flight.date | date:'y-MM-dd HH:mm'}})
        </span>
        </div>
        <mat-divider class="dg-margin"></mat-divider>
        <div fxFlex=100 fxLayout="row">
            <mat-form-field>
                <mat-select placeholder="Number of tickets" [(value)]="numberOfTickets"
                            (selectionChange)="numberOfTicketsSelected($event)">
                    <mat-option *ngFor="let num of nums" [value]="num">
                        {{num}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div>

    <mat-horizontal-stepper *ngIf="numberOfTickets > 0"
                            [linear]="true"
                            #stepper
                            [selectedIndex]="selectedIndex"
                            (selectionChange)="selectionChange($event)"
                            class="dg-padding dg-margin mat-elevation-z6 dg-bg-white">
        <mat-step>
            <ng-template matStepLabel>Ticket types</ng-template>
            <ng-template matStepLabel>Personal data</ng-template>
            <ng-template ngFor let-formGroupType let-no="index" [ngForOf]="formGroupTypeArray">
                <jhi-ticket-type [formGroup]="formGroupType" [no]="no"
                                 [basicPrice]="ticket.flight.price"></jhi-ticket-type>
            </ng-template>
        </mat-step>
        <mat-step [completed]="enableSummary">
            <ng-template matStepLabel>Personal data</ng-template>
            <ng-template ngFor let-formGroupPerson let-no="index" [ngForOf]="formGroupPersonArray">
                <jhi-ticket-person [formGroup]="formGroupPerson" (personChanged)="checkValidation()"
                                   [no]="no"></jhi-ticket-person>
            </ng-template>
        </mat-step>
        <mat-step>
            <ng-template matStepLabel>Summary</ng-template>
            <div fxLayout="column" fxFlex="100">
                <div fxFlex="100">
                    <div fxFlex="15">
                        <span><p>Type</p></span>
                    </div>
                    <div fxFlex="15">
                        <span><p>Class</p></span>
                    </div>
                    <div fxFlex="15">
                        <span><p>First name</p></span>
                    </div>
                    <div fxFlex="15">
                        <span><p>Last name</p></span>
                    </div>
                    <div fxLayoutAlign="end center" fxFlex="15">
                        <span><p>Price</p></span>
                    </div>
                </div>
                <div fxFlex="100" *ngFor="let bookedTicket of bookedTickets; let i=index">
                    <div fxFlex="15">
                        <span>{{bookedTicket.ticketType}}</span>
                    </div>
                    <div fxFlex="15">
                        <span>{{bookedTicket.ticketClass}}</span>
                    </div>
                    <div fxFlex="15">
                        <span>{{bookedTicket.firstName}}</span>
                    </div>
                    <div fxFlex="15">
                        <span>{{bookedTicket.lastName}}</span>
                    </div>
                    <div fxLayoutAlign="end center" fxFlex="15">
                        <span>{{bookedTicket.price}}$</span>
                    </div>
                </div>
                <div fxFlex="100" fxLayout="row">
                    <div fxFlex="75" fxLayout="row" fxLayoutAlign="end center" >
                        <p>Summary: {{calculateSummaryPrice()}}$</p>
                    </div>
                </div>

                <div fxLayoutAlign="center center">
                    <button mat-raised-button
                            class="primary-button dg-padding-left dg-margin-left"
                            [disabled]="!enableSummary"
                            color="primary"
                            (click)="bookTickets()">
                        Book tickets
                    </button>
                </div>

            </div>
        </mat-step>
    </mat-horizontal-stepper>

</div>
