<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title th:text="#{email.ticket.title}">Tickets Booked</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="shortcut icon" th:href="@{|${baseUrl}/favicon.ico|}" />
    </head>
    <body>
        <p th:text="#{email.ticket.greeting(${user.login})}">
            Dear
        </p>
        <p th:text="#{email.ticket.text1}">

        </p>
        <p th:text="${tickets}">

        </p>

    </body>
</html>
