<form [formGroup]="formGroup" class="dg-padding dg-margin mat-elevation-z6 dg-bg-white">
    <div fxLayout="row" fxLayoutGap="0.5%">
        <div fxLayout="row" fxLayoutAlign=" center" fxFlex="3">
            <span>{{no + 1}}</span>
        </div>
        <div fxFlex  fxLayout="row" fxLayoutGap="2%">
            <mat-form-field fxFlex="30">
                <input matInput
                       [formControl]="firstName" name="firstName" placeholder="First name" maxlength="100">
                <mat-error *ngIf="formErrors.firstName">{{ formErrors.firstName }}</mat-error>
            </mat-form-field>

            <mat-form-field fxFlex="30">
                <input matInput [formControl]="lastName"
                       name="lastName" placeholder="Last name" maxlength="100">
                <mat-error *ngIf="formErrors.lastName">{{ formErrors.lastName }}</mat-error>
            </mat-form-field>
        </div>
    </div>
</form>
