<div fxFlex fxLayout="row wrap" class="layout-content" fxLayoutAlign="start start">
    <jhi-search-item fxFlex="0 0 100%"
                     *ngFor="let flight of flights"
                     [flight]="flight"
                     [dictionaryCity]="dictionaryCity"
    ></jhi-search-item>
</div>
