<div fxLayout="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="space-around none" >
    <h1 fxFlex=100 align="center">Find Fly</h1>
    <div  *jhiHasAnyAuthority="'ROLE_FULL_USER'">
        <div *ngIf="citiesDictionary$ | async as dictionary"
             fxLayout="column" fxLayoutGap="0.5%" fxLayoutAlign="space-around none"
        >
            <jhi-search-input fxFlex=100
                              [dictionaryCity]="dictionary"
                              [fromPlaceControl]="fromPlaceControl"
                              [toPlaceControl]="toPlaceControl"
                              [fromDateControl]="fromDateControl"
                              [toDateControl]="toDateControl"
                              [group]="searchFormGroup"
                              (searchBtnUsed)="search()">
            </jhi-search-input>
            <jhi-search-list-result fxFlex="0 0 auto" fxLayout="row" [flights]="flights$ | async" [dictionaryCity]="dictionary"></jhi-search-list-result>
        </div>
    </div>

    <div *jhiHasNotAnyAuthority="'ROLE_FULL_USER'">
        <p class="text-danger">You must finish the account setting to search flights and book them.</p>
        <p><a routerLink="/settings" routerLinkActive="active"> Settings</a></p>
    </div>

</div>
